.header {
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.headear__navbar--list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar--item {
    margin: 0 8px;
    position: relative;
}


.header__navbar--item,
.header__navbar--item-link {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
}

.header__navbar--item,
.header__navbar--item-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar--item:hover,
.header__navbar--icon:hover,
.header__navbar--item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.708);
}

.header__navbar--item--strong {
    font-weight: 400;
}

.header__navbar--item--separate::after {
    content:  "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}

.header__navbar--item--link {
    color: var(--white-color) ;
    text-decoration: none;
}

.header__navbar--icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar--title--no-pointer {
    color: var(--white-color);
    cursor: text;

}